h2{
    color: white;
}
body {
    background-image: url("img1.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.container {
    background: transparent;
    width: 300px;
    margin: 150px auto;
    padding: 30px;
    text-align: center;
    border-radius: 40px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}

#otpDisplay {
    color: white;
    font-weight: bold;
}
#result {
    color: white;
    font-weight: bold;

}
#toast {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 14px;
    position: fixed;
    z-index: 1;
    right: -8%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
